/* Title slide logo: insert the actual size of the image */
.gdbar img {
  width: 406px !important;
  height: 69px !important;
}

.gdbar {
  width: 500px !important;
  height: 85px !important;
}

/* Hide the logo in slide footer: */
slides > slide:not(.nobackground)::before {
    background: none;
}

/* Inspired by the old slidify (*RIP*) */

html, body, div, span, applet, object, iframe, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 52px;
  color: darkslategray;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: darkslategray;
}

code {
  font-size: 100%;
  font-family: "Source Code Pro", monospace;
  color: darkred;
  background-color: inherit;
}

pre {
  display: block;
  line-height: 28px;
  padding: 10px;
  margin-left: 60px;
  border: 1px solid #ccc;
  background: white;
  color: #4d4d4c;
  font-family: 'Inconsolata', 'Courier New', monospace;
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 0;
  width: 100%;
  left: -60px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

pre code, pre span {
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 20px;
}

.prettyprint {
  background-color: white;
}

table.rmdtable tr > td:first-child {
    font-weight: inherit;
    color: inherit;
}

.highlight-first-col tr > td:first-child {
    font-weight: 600;
    color: #515151;
}

.off {
    background: #FFFFFF;
}
.header-span {
    background: #4778FF;
    font-weight: 600 !important;
    color: #FFFFFF !important;
    text-transform: uppercase;
}
.header {
    background: #82AAFF;
    font-weight: 600 !important;
    color: #FFFFFF !important;
    text-transform: uppercase;
}
.dark {
    background: #A8A8A8;
}
.light {
    background: #E0E0E0;
}

article.smaller table td.dark, article.smaller table td.light {
    font-weight: bold;
    font-size: 25px;
    line-height: 0;
    text-align: center;
}
